{form name="lang_edit"}
{input name='langId'}
<table class="peep_table_1 peep_form">
    <tr class="peep_alt2 peep_tr_first">
        <td class="peep_label">{label name='label'}</td>
        <td class="peep_value">{input name='label'}</td>
        <td class="peep_desc">{desc name='label'}</td>
    </tr>
    <tr class="peep_alt1">
        <td class="peep_label">{label name='tag'}</td>
        <td class="peep_value">{input name='tag'}</td>
        <td class="peep_desc">{desc name='tag'}</td>
    </tr>
    <tr class="peep_alt2 peep_tr_last">
        <td class="peep_label">{label name='rtl'}</td>
        <td class="peep_value">{input name='rtl'}</td>
        <td class="peep_desc">{desc name='rtl'}</td>
    </tr>
</table>
<div class="clearfix"><div class="peep_right">{submit name='submit' class="peep_positive"}</div></div>
{/form}
