{script}
{literal}

        $(function(){
            $("#change_password_button").click(
                function() { 
                    window.oldPassword.floatBox = new PEEP_FloatBox({$title: '{/literal}{text key='base+change_password'}{literal}', $contents: $('#change-password-div'), width: 480});
                    window.peepForms['change-user-password'].resetForm();
                    window.peepForms['change-user-password'].removeErrors();
                }
            );
       });

{/literal}
{/script}

{decorator name="button" id="change_password_button" langLabel='base+change_password'}
<div style="display:none;">
    <div id="change-password-div">
        {form name="change-user-password" }
                <table class="peep_table_1 peep_form">
                    <tr class="peep_alt2 peep_tr_first">
                        <td class="peep_label" style="width:40%;">{label name='oldPassword'}</td>
                        <td class="peep_value">{input name="oldPassword"}<br/>{error name="oldPassword"}</td>
                    </tr>
                    <tr class="peep_alt1" width="40">
                        <td class="peep_label" style="width:40%;">{label name='password'}</td>
                        <td class="peep_value">{input name="password"}<br/>{error name="password"}</td>
                    </tr>
                    <tr class="peep_alt2 peep_tr_last">
                        <td class="peep_label" style="width:40%;">{label name='repeatPassword'}</td>
                        <td class="peep_value">{input name="repeatPassword"}<br/>{error name="repeatPassword"}</td>
                    </tr>

                </table>
                
                <div class="clearfix peep_stdmargin"><div class="peep_right">{submit name="change"}</div></div>
         {/form }
    </div>
</div>
