<div class="peep_profile_gallery_action_toolbar peep_profile_action_toolbar_wrap clearfix peep_stdmargin">
    <ul class="peep_bl peep_profile_action_toolbar clearfix peep_small peep_left">
        {foreach from=$toolbar item='action'}
            {if isset($action.html)}
                {$action.html}
            {elseif isset($action.extraLabel)}
                <li>
                    {$action.extraLabel}
                </li>
            {else}
                <li>
                    <a {$action.attrs} >
                        {$action.label}
                    </a>
                </li>
            {/if}
        {/foreach}
    </ul>

    {foreach from=$groups item="group"}
        {$group}
    {/foreach}

    {$cmpsMarkup}
</div>
