{*<table class="peep_table_1 peep_smallmargin peep_small peep_alt1">
    <tbody>
        <tr class="peep_tr_first peep_tr_last">
            <td><p class="peep_nowrap">{text key="base+sort_control_sortby"}:</p></td>
            <td class="sort_link">
                <ul>
                    {foreach from=$itemList item='item'}
                        <li {if $item.isActive}class="active"{/if} ><a href="{$item.url}">{$item.label}</a></li>
                    {/foreach}
                </ul>
            </td>
        </tr>
    </tbody>
</table>*}
<div class="peep_sort_control peep_smallmargin peep_small peep_alt2"><span class="peep_sort_control_label">{text key="base+sort_control_sortby"}:</span>{foreach from=$itemList item='item'}<a href="{$item.url}" {if $item.isActive}class="active"{/if}><span>{$item.label}</span></a>{/foreach}
</div>