<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>Privacy</name>
    <key>privacy</key>
    <description>Privacy settings.</description>
     <author>Peepdev Co.</author>
    <authorEmail>addons@peepdev.com</authorEmail>
	<authorUrl>http://www.peepdev.com/company</authorUrl>
	<developerKey>1</developerKey>
    <build>9000</build>
    <copyright>(C) 2016 Peepdev Co. All rights reserved.</copyright>
	<license>Peepdev License</license>
    <licenseUrl>www.peepdev.com/licenses</licenseUrl>
</plugin>
