{block_decorator name="box" type="empty" addClass="peep_superwide peep_automargin"}

    {block_decorator name="box_cap" type="empty" addClass="peep_center" style="padding:15px;" langLabel="base+required_profile_questions"}
    {/block_decorator}

    {form name=requiredQuestionsForm}
        <table class="peep_table_1 peep_form peep_stdmargin">
            {foreach from=$questionArray key='section' item='questions' name='question'}

                {if !empty($section) }
                    <tr class="peep_tr_first"><th colspan="3">{text key="base+questions_section_`$section`_label"}</th></tr>
                {/if}
                
                {foreach from=$questions item='question' name='question'}
                    {cycle assign='alt' name=$section values='peep_alt1,peep_alt2'}
                    <tr class=" {if $smarty.foreach.question.last}peep_tr_last{/if}">
                        <td class="{$alt} peep_label">
                            {label name=$question.name}
                        </td>
                        <td class="{$alt} peep_value">
                            {input name=$question.name}
                            <div style="height:1px;"></div>
                            {error name=$question.name}
                        </td>
                        <td class="{$alt} peep_desc peep_small">
                            {question_description_lang name=$question.name}
                        </td>
                    </tr>
                {/foreach}

                {if !empty($section)}
                    {if !$smarty.foreach.question.first}
                        <tr class="peep_tr_delimiter"><td></td></tr>
                    {/if}
                {/if}

            {/foreach}
        </table>
        <div class="clearfix peep_stdmargin">
           <div class="peep_right">
               {submit name='submit'}
           </div>
        </div>
    {/form}
{/block_decorator}
