<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>Search System</name>
	<key>searchsys</key>
	<description>Enables users for searching site, also adding search form to members page</description>
    <author>Peepdev Co.</author>
    <authorEmail>addons@peepdev.com</authorEmail>
    <authorUrl>http://www.peepdev.com/company</authorUrl>
    <developerKey>1</developerKey>
    <build>1</build>
    <copyright>(c) 2016 Peepdev Co. All rights reserved.</copyright>
    <license>Peepdev License</license>
    <licenseUrl>www.peepdev.com/licenses</licenseUrl>
</plugin>